<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off"
                [formGroup]="miFormulario"
                (ngSubmit)="submitFormulario()">

            <!-- NOMBRE -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        formControlName="nombre"
                        placeholder="Nombre del usuario">

                        <span class="form-text text-danger"
                                *ngIf="campoNoValido('nombre')">
                            Debe ser en formato nombre y apellido
                        </span>
                </div>
            </div>

            <!-- EMAIL -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                        class="form-control"
                        formControlName="email"
                        placeholder="Email del usuario"> 

                    <span class="form-text text-danger"
                                *ngIf="campoNoValido('email')">
                                {{emailErrorMsg}}
                        </span>
                        
                    <!-- <span class="form-text text-danger"
                            *ngIf="emailRequired()">
                            El correo es obligatorio
                    </span>
                    <span class="form-text text-danger"
                            *ngIf="emailFormato()">
                            El valor no es valido
                    </span>
                    <span class="form-text text-danger"
                            *ngIf="emailTomado()">
                            El correo no esta disponible
                    </span> -->
                </div>
            </div>

            <!-- USERNAME -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        formControlName="username"
                        placeholder="Nombre codigo del usuario"> 
                        
                    <span class="form-text text-danger"
                            *ngIf="campoNoValido('username')">
                            El username no puede ser strider
                    </span>
                </div>
            </div>

            <!-- PASSWORD -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                        class="form-control"
                        placeholder="Password de su cuenta"
                        formControlName="password">  

                    <span class="form-text text-danger"
                            *ngIf="campoNoValido('password')">
                            el password debe tener 6 caracteres
                    </span>                     
                </div>
            </div>
  
             <!-- PASSWORD 2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                        class="form-control"
                        placeholder="Confirmar la contraseña"
                        formControlName="password2">

                    <span class="form-text text-danger"
                            *ngIf="campoNoValido('password2')">
                            los password deben ser iguales
                    </span>                        
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit"
                            [disabled]="miFormulario.pending">
                        Crear cuenta
                    </button>

                </div>

            </div>


        </form>
    </div>
</div>

<h5>form valid: {{ miFormulario.valid }}</h5>
<h5>form status: {{ miFormulario.status }}</h5>
<h5>form pending: {{ miFormulario.pending }}</h5>
<br>

<h5>form errors</h5>
<pre>{{miFormulario.errors | json}}</pre>

<h5>Nombre</h5>
<pre>{{miFormulario.controls.nombre.errors | json}}</pre>

<h5>email</h5>
<pre>{{miFormulario.controls.email.errors | json}}</pre>

<h5>username</h5>
<pre>{{miFormulario.controls.username.errors | json}}</pre>

<h5>password</h5>
<pre>{{miFormulario.controls.password.errors | json}}</pre>

<h5>Confirmar pass</h5>
<pre>{{miFormulario.controls.password2.errors | json}}</pre>
